In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
from collections import defaultdict
from nltk.tokenize import word_tokenize 
from collections import Counter
from nltk.tokenize import word_tokenize 
from nltk.tokenize import sent_tokenize 
from nltk.tokenize import RegexpTokenizer
from nltk.tokenize import regexp_tokenize
import re
from sklearn.model_selection import train_test_split
import seaborn as sns

In [2]:
movies = pd.read_csv('Data/movies_df.csv')
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9863 entries, 0 to 9862
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         9863 non-null   int64
 1   Unnamed: 0.1       9863 non-null   int64
 2   id                 9863 non-null   int64
 3   original_language  9863 non-null   object
 4   original_title     9863 non-null   object
 5   popularity         9863 non-null   float64
 6   release_date       9839 non-null   object
 7   vote_average       9863 non-null   float64
 8   vote_count         9863 non-null   int64
 9   genre              9863 non-null   object
 10  overview           9863 non-null   object
 11  revenue            9863 non-null   int64
 12  runtime            9858 non-null   float64
 13  tagline            7077 non-null   object
 14  summary_length     9863 non-null   int64
 15  Unnamed: 15        9863 non-null   int64
 16  Action             9863 non-null   int64
 17  Adventure          9863 non-null   int64
 18  Animation          9863 non-null   int64
 19  Comedy             9863 non-null   int64
 20  Crime              9863 non-null   int64
 21  Documentary        9863 non-null   int64
 22  Drama              9863 non-null   int64
 23  Family             9863 non-null   int64
 24  Fantasy            9863 non-null   int64
 25  History            9863 non-null   int64
 26  Horror             9863 non-null   int64
 27  Music              9863 non-null   int64
 28  Mystery            9863 non-null   int64
 29  Romance            9863 non-null   int64
 30  Science Fiction    9863 non-null   int64
 31  TV Movie           9863 non-null   int64
 32  Thriller           9863 non-null   int64
 33  War                9863 non-null   int64
 34  Western            9863 non-null   int64
dtypes: float64(3), int64(26), object(6)
memory usage: 2.6+ MB

In [3]:
movie_genre = [i.strip('[]').split(",") for i in movies.genre]
for movie in (movie_genre):
    for number, genres in enumerate(movie):
        movie[number] = genres.strip("' '")
movies['genre'] =  movie_genre

In [4]:
movies_df = movies.set_index('original_title').iloc[:,2:]

In [5]:
movies_df

,id,original_language,popularity,release_date,vote_average,vote_count,genre,overview,revenue,runtime,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
original_title,,,,,,,,,,,,,,,,,,,,,
Venom: Let There Be Carnage,580489,en,5401.308,2021-09-30,6.8,1736,"[Science Fiction, Action, Adventure]",After finding a host body in investigative rep...,424000000,97.0,...,0,0,0,0,0,1,0,0,0,0
Eternals,524434,en,3365.535,2021-11-03,7.1,622,"[Action, Adventure, Science Fiction, Fantasy]",The Eternals are a team of ancient aliens who ...,165000000,157.0,...,0,0,0,0,0,1,0,0,0,0
Dune,438631,en,2911.423,2021-09-15,8.0,3632,"[Action, Adventure, Science Fiction]","Paul Atreides, a brilliant and gifted young ma...",331116356,155.0,...,0,0,0,0,0,1,0,0,0,0
Army of Thieves,796499,en,2552.437,2021-10-27,6.9,555,"[Action, Crime, Thriller]",A mysterious woman recruits bank teller Ludwig...,0,127.0,...,0,0,0,0,0,0,0,1,0,0
Free Guy,550988,en,1850.470,2021-08-11,7.8,3493,"[Comedy, Action, Adventure, Science Fiction]",A bank teller called Guy realizes he is a back...,331096766,115.0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A Grand Day Out,530,en,9.266,1990-05-18,7.5,594,"[Adventure, Animation, Comedy, Science Fiction...",Wallace and Gromit have run out of cheese and ...,0,23.0,...,0,0,0,0,0,1,0,0,0,0
El cantante,15934,en,10.417,2006-09-12,7.0,80,"[History, Drama, Music]","The rise and fall of salsa singer, Héctor Lavo...",0,116.0,...,1,0,1,0,0,0,0,0,0,0
How I Live Now,162215,en,9.520,2013-09-10,6.6,705,"[Drama, Action, Thriller, War]",An American girl on holiday in the English cou...,0,101.0,...,0,0,0,0,0,0,0,1,1,0
Once,5723,en,9.267,2007-03-23,7.4,990,"[Drama, Music, Romance]",A vacuum repairman moonlights as a street musi...,20710513,85.0,...,0,0,1,0,1,0,0,0,0,0
Manhattan Night,311667,en,9.273,2016-05-20,6.0,304,"[Drama, Mystery, Thriller]",Porter Wren is a Manhattan tabloid writer with...,0,113.0,...,0,0,0,1,0,0,0,1,0,0